<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053697304542-3qco730gtnr7a04m0p4ed0ajpd62cfnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053697304542-3qco730gtnr7a04m0p4ed0ajpd62cfnc</string>
	<key>API_KEY</key>
	<string>AIzaSyCpru2u0TJ8_kQJ2Gq5X0syJV0AbJO0bFg</string>
	<key>GCM_SENDER_ID</key>
	<string>1053697304542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stocks</string>
	<key>PROJECT_ID</key>
	<string>stocks-240</string>
	<key>STORAGE_BUCKET</key>
	<string>stocks-240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053697304542:ios:e38d6d86f291dcd0859f4f</string>
</dict>
</plist>